/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,*:before,*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
	Useful Styles
   ========================================================================== */
.clearfix:after,
.clearfix:before {
	content: ' ';
	display: table;
}
.clearfix:after {
	clear: both;
}
.alignleft {
   text-align: left;
}
.aligncenter {
   text-align: center;
}
.alignright {
   text-align: right;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.last_element {
	margin-right: 0px !important;
}
a, a:active {
   text-decoration: none;
   outline: 0 none;
   color: #065891;
}
a:hover {
   text-decoration: none;
}
img {
   max-width: 100%;
   border: 0 none;
   outline: 0 none;
	height: auto;
}
a img {
   border: 0 none;
   outline: 0 none;
}
h1,h2,h3,h4,h5,h6,p {
	font-weight: normal;
	margin: 0;
}
ul {
   list-style: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-size: 14px;
	line-height: 24px;
	color: #515151;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
	padding: 45px 35px 70px;
	background: #dedede;
	overflow: hidden;
}
.container {
	padding: 70px 35px;
	background: #fff;
	border: 1px solid #b4b3b3;
}
.left_section {
	width: 538px;
}
.right_section {
	width: 312px;
}
div.book {
	margin-top: 70px;
	text-align: center;
	padding: 15px;
	margin-bottom: 90px;
	position: relative;
}
.book > p.prev {
	bottom: 17px;
	left: 32px;
	position: absolute;
}
.book_section h2 {
	color: #191919;
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 10px;
}
.book_section p {
	font-size: 18px;
	line-height: 24px;
}
.book_section > article > h2 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
}
.book_section > article > p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: 400;
}
.book_section > article > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 30px;
}
.book_section > article > ul > li {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: 400;
	padding-left: 45px;
	background: url("img/check.png") no-repeat left 5px;
	margin-bottom: 30px;
}
.logo {
	margin-bottom: 70px;
	text-align: center;
}
div.form_content {
	background: #f2f2f2;
	padding: 25px 30px;
	margin-bottom: 70px;
}
div.form_content h3 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	color: #000;
	margin-bottom: 25px;
}
div.form_content p {
	font-size: 11px;
	line-height: 22px;
	font-weight: 400;
	color: #000;
}
div.form_content p a {
	text-decoration: underline;
}
.down_form input {
	border: 0px;
	outline: 0px;
	width: 250px;
	margin-bottom: 10px;
}
.down_form fieldset > label {
	display: block;
	font-size: 16px;
	color: #4c4c4c;
}
.down_form fieldset > label span {
	color: #ab0e0e;
}
.down_form .name {
	border: 1px solid #cacaca;
	height: 39px;
	font-size: 16px;
	padding: 7px 15px;
}
.down_form .email {
	border: 1px solid #cacaca;
	height: 39px;
	font-size: 16px;
	padding: 7px 15px;
}
.down_form input.submit {
	height: 72px;
	background: url("img/download-button.png") no-repeat center center;
	text-indent: 999999px;
	margin-top: 25px;
}
.author_bio h2 {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 20px;
	font-weight: 700;
	color: #010101;
}
.author_bio h4 {
	font-size: 14px;
	color: #6b6b6b;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 16px;
}
.author_bio img {
	width: 100%;
	margin-bottom: 15px;
}
.author_bio p {
	font-size: 15px;
	line-height: 26px;
}
.author_bio p.author {
	color: #010101;
}
.author_bio p em {
	font-style: italic;
	color: #717070;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
